<ion-content [fullscreen]="true">

  <div>
  <!-- List of Text Items -->
<ion-list>

  <ion-list-header>
    DIRECTORIO DAH2020
  </ion-list-header>

  <ion-item>
    <ion-avatar slot="start">
    <img src="https://scontent.fgdl1-4.fna.fbcdn.net/v/t1.0-9/70454420_2535210163184375_1833416118690119680_n.jpg?_nc_cat=110&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeGVTCsjTMLTKD8bsI--b5x3Qutz6Xe0sDhC63Ppd7SwOEGgIGS0loZzzEUK8JVoMCSHhu4B_cGictGyXncZcaix&_nc_ohc=z1bjmR-3lqEAX8zNdWK&_nc_ht=scontent.fgdl1-4.fna&oh=4ca6c34df859bb4e8ee040f9e1f8df5e&oe=5FC5C2D6">
  </ion-avatar>
    <ion-label>
      <h2>ARCINIEGA RAMIREZ MIGUEL LEOPOLDO</h2>
      <h3>3111216030</h3>
      <p>milearciniegara@ittepic.edu.mx</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://scontent.fgdl1-3.fna.fbcdn.net/v/t1.0-9/26230616_1995073987175667_2910250823637074653_n.jpg?_nc_cat=105&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeGFQ4OmPp7sXonD8Pb-MqXoAgh4wXJMhMwCCHjBckyEzGN1hW36EVkbiAG2-n-2O35fBgk6_0Qy3bEbug1VBXdH&_nc_ohc=JrZMAN1mRdEAX-ISq_X&_nc_ht=scontent.fgdl1-3.fna&oh=28806e48177af7e80e5e5ca03e792be0&oe=5FC7BC14">
    </ion-avatar>
      <ion-label>
        <h2>ARELLANO MATA EDWIN ANTONIO</h2>
        <h3>3111180994</h3>
        <p>edanarellanoma@ittepic.edu.mx</p>
      </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://scontent.fgdl1-4.fna.fbcdn.net/v/t1.0-9/92576470_3321475627881125_1425481181477994496_o.jpg?_nc_cat=109&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeGUatmsQ7d6EEUHOzNf7EPyIPCAFt15zT4g8IAW3XnNPmD9UKLXhdh7gdy9Uq_B1_AOtf9LCrvAh-MlLjZA_L-L&_nc_ohc=umP8wxCo360AX_QCc0q&_nc_ht=scontent.fgdl1-4.fna&oh=86fd86f1428dc69fced5dfc73f1d2c6c&oe=5FC8CD99">
    </ion-avatar>
      <ion-label>
        <h2>FLORES MEDRANO DAVID SAUL</h2>
        <h3>3111740340</h3>
        <p>dasafloresme@ittepic.edu.mx</p>
      </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://scontent.fgdl1-4.fna.fbcdn.net/v/t1.0-0/s526x395/122172796_2309567409189670_5769155977268019742_n.jpg?_nc_cat=102&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeFEgz7OoUIc3JozBAzbmwfYz14MbG-EcwLPXgxsb4RzApCZQ3DPyHdbfUjauHqWujR59P3_nK6EymCyayLn-PFO&_nc_ohc=M6XqtyISbIkAX_KJ4U2&_nc_ht=scontent.fgdl1-4.fna&tp=7&oh=8d97205acc898886f2e0120984e533db&oe=5FC73BCA">
    </ion-avatar>
      <ion-label>
        <h2>FLORES RAMIREZ ADRIANA</h2>
        <h3>3112358516</h3>
        <p>adfloresra@ittepic.edu.mx</p>
      </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://scontent.fgdl1-3.fna.fbcdn.net/v/t1.0-9/117135156_3210609665642087_6223329612839112215_o.jpg?_nc_cat=104&ccb=2&_nc_sid=730e14&_nc_eui2=AeFwdZ_5Zp-FHJ2drGw-oXA0-3rq2o3pACr7eurajekAKnHu2qX4eSwD20KntKNxcGx7vTryB3B5ncOO7rWxnZU0&_nc_ohc=CXeLABOx4A0AX_lryG8&_nc_ht=scontent.fgdl1-3.fna&oh=1c82949fdbd0372e9416221b25033ebe&oe=5FC5D063">
    </ion-avatar>
      <ion-label>
        <h2>HARO SILVA ANDRÉS MITCHEL</h2>
        <h3>3111656715</h3>
        <p>anmiharosi@ittepic.edu.mx</p>
      </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://scontent.fgdl1-4.fna.fbcdn.net/v/t1.0-9/117764672_4803744549650998_314487972644915194_n.jpg?_nc_cat=109&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeEEJyYr4T9ErVLsnPKSLQKn5ylkCYR_H9TnKWQJhH8f1Exq7wUvenqt2Ns50YpYC1YkTJjJfO31cC_3-3jGrC8f&_nc_ohc=3nxY8cT9rzkAX--mfGX&_nc_ht=scontent.fgdl1-4.fna&oh=fe8d02516cf54973bf26cccd0c0cbd01&oe=5FC68559">
    </ion-avatar>
      <ion-label>
        <h2>HERNANDEZ CASTAÑEDA DIANA GUADALUPE</h2>
        <h3>3113830931</h3>
        <p>diguhernandezca@ittepic.edu.mx</p>
      </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://scontent.fgdl1-4.fna.fbcdn.net/v/t1.0-9/117772404_3491107367580095_5865168110889970976_o.jpg?_nc_cat=109&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeGdumghhPq6d1XK60BB6R3dV6zJZWGJMydXrMllYYkzJ0einHIMKtfTG7_yGlzXAFWRY4Ap5y_IRi-muWFVjIuo&_nc_ohc=Iv4g2zt8ycwAX8SqcMO&_nc_ht=scontent.fgdl1-4.fna&oh=8e2c684307f9a1e412c0e14b334ffdb4&oe=5FC5E299">
    </ion-avatar>
      <ion-label>
        <h2>HERNANDEZ MUÑOZ DANIELA ITZEL</h2>
        <h3>3111436719</h3>
        <p>daithernandezmu@ittepic.edu.mx</p>
      </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://scontent.fgdl1-4.fna.fbcdn.net/v/t1.0-9/84879865_189551802362155_6240268605536075776_n.jpg?_nc_cat=109&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeG1HrDaQhBkSpR_hThPtVAlg9xUG-5MhrKD3FQb7kyGskuOWbTPf4c_orzwS__30pVvm-ptBK0F6ySPTpPfpsCs&_nc_ohc=0m7xY59rA4EAX9fDCyT&_nc_ht=scontent.fgdl1-4.fna&oh=1f6b777d58efb614e96a86cacd3996db&oe=5FC8D17E">
    </ion-avatar>
      <ion-label>
        <h2>HIGH MENDOZA DANIEL ENRIQUE</h2>
        <h3>3111226348</h3>
        <p>daenhighme@ittepic.edu.mx</p>
      </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://scontent.fgdl1-3.fna.fbcdn.net/v/t1.0-9/105041189_3371542942889786_1718442896032453481_o.jpg?_nc_cat=103&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeGPomsrO1xGbl_s-5yuKGnKypJunCMrD6bKkm6cIysPpuVAy2NrWxRo5CtlBe3DJGqQAc4lTziWimLoRRVpiLrd&_nc_ohc=6CoO7fi5qsUAX9Yi9Z6&_nc_ht=scontent.fgdl1-3.fna&oh=1a7eef249bdf93bbed6346cca21a86d4&oe=5FC66719">
    </ion-avatar>
      <ion-label>
        <h2>JIMÉNEZ DÍAZ MARTÍN ALEJANDRO</h2>
        <h3>3111563507</h3>
        <p>maaljimenezdi@ittepic.edu.mx</p>
      </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://scontent.fgdl1-4.fna.fbcdn.net/v/t1.0-9/18893011_1390497534343801_3857055526515973846_n.jpg?_nc_cat=108&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeEHNniPiXGvEi3miC4tQw4OWVtrK1ik9UpZW2srWKT1SpNrkbFx-k6UMieKRDvIpngVhONAMBCDeukZyMgzevBz&_nc_ohc=eHO4U2bOQhMAX8DodSN&_nc_ht=scontent.fgdl1-4.fna&oh=35685450f2c22d5cc99b57a65badef8e&oe=5FC80648">
    </ion-avatar>
      <ion-label>
        <h2>LOPEZ ALVARADO MISSAEL</h2>
        <h3>3112636307</h3>
        <p>milopezal@ittepic.edu.mx</p>
      </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://scontent.fgdl1-4.fna.fbcdn.net/v/t1.0-9/62465066_2304967193050654_788850381194002432_n.jpg?_nc_cat=108&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeFOALS8AQOqnSUl7DV-LLbcHaUEi2roxOMdpQSLaujE4yqHjkMAC63j5JVScY8V852UsiBvLzUttEBBDis-dlsQ&_nc_ohc=HgxVwjdlk4IAX8HcA9-&_nc_ht=scontent.fgdl1-4.fna&oh=692d1e14066dddc43818204a0e16675a&oe=5FC8F74B">
    </ion-avatar>
      <ion-label>
        <h2>LÓPEZ BÁEZ MARTÍN ALEJANDRO</h2>
        <h3>6871941615</h3>
        <p>maallopezba@ittepic.edu.mx</p>
      </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://scontent.fgdl1-4.fna.fbcdn.net/v/t1.0-9/90341780_514487726172664_7607964541099442176_o.jpg?_nc_cat=102&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeEpD8B6slIobMM6NnbctAnlON10OJRbAio43XQ4lFsCKijPUYXrO3gmo_KMxtI89cefoVEd_LtONOl0tfYhpMBe&_nc_ohc=ZxQfTRdA48cAX8u2ZTf&_nc_ht=scontent.fgdl1-4.fna&oh=3a0d4e252063dd336fbe68f8da0f227f&oe=5FC8F584">
    </ion-avatar>
      <ion-label>
        <h2>LÓPEZ SÁNCHEZ JONATHAN ISRAEL</h2>
        <h3>3113501207</h3>
        <p>joislopezsa@ittepic.edu.mx</p>
      </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://scontent.fgdl1-3.fna.fbcdn.net/v/t1.0-9/118888790_3937855319574648_7067877926251867221_o.jpg?_nc_cat=101&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeGbKBuEqzGY5c-LBovfW-mcTeqZPptH8ANN6pk-m0fwA30LWYjQEbKxzgOhRHXoglNZJ_OlYwf21PqtjhxMp4YY&_nc_ohc=9zh2dyxhag0AX_WHHy9&_nc_ht=scontent.fgdl1-3.fna&oh=5a94c44ad5082fe2b5e18aa072f130f4&oe=5FC79561">
    </ion-avatar>
      <ion-label>
        <h2>MARTINEZ ALMEJO JOSE MANUEL</h2>
        <h3>3112008161</h3>
        <p>jomamartinezal@ittepic.edu.mx</p>
      </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://scontent.fgdl1-3.fna.fbcdn.net/v/t1.0-9/118884911_3456660367725793_1801828377787176896_n.jpg?_nc_cat=106&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeHmIyyGPn_cIuk3roc9dmZjTQLUQgQNsLJNAtRCBA2wsqwvC9GCAeb00qVBoK9jSY8hc37_k3osZQnSgsyVmQ4W&_nc_ohc=gBxHj3KD0WgAX8lwrDl&_nc_ht=scontent.fgdl1-3.fna&oh=f91a65ff339d7e0fb205302b8e8a5488&oe=5FC960E4">
    </ion-avatar>
      <ion-label>
        <h2>ORTIZ LORA ENRIQUE</h2>
        <h3>3112576460</h3>
        <p>enortizlo@ittepic.edu.mx</p>
      </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://cdn0.iconfinder.com/data/icons/set-ui-app-android/32/8-512.png">
    </ion-avatar>
      <ion-label>
        <h2>PEÑA SANCHEZ LUIS ALEJANDRO</h2>
        <h3>--- --- -----</h3>
        <p>lualpenasa@ittepic.edu.mx</p>
      </ion-label>
  </ion-item>

  <ion-item> 
  </ion-item>


</ion-list>

  </div>

  </ion-content>
